body {
  width: 50%;
  margin: auto;
  padding: 48px 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 180, 180);
  border-radius: 15px;
  font-family: "Poppins";
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  width: auto;
  height: 150px;
  background-color: rgb(122, 122, 122);
  text-align: center;
}

.title {
  display: flex;
  align-self: center;
  font-size: 50px;
  color: #ffcc00;
  padding: 10px 20px;
}

.card1 {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  height: 120px;
  border-bottom: 2px dotted black;
}

.card2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  height: 100px;
  border-bottom: 2px dotted black;
}

.question {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

.icons {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  border: solid gray 2px;
}

/* .wrapper:last-of-type {
  margin-bottom: 48px;
} */

.radio {
  display: flex;
  /* flex-flow: row flex-end; */
  width: 20px;
  size: 1.5em;
}

#radioset1 {
  width: 80px;
}

.mcds {
  /* display: flex; */
  flex-direction: row;
  width: 40px;
  padding: 20px;
  background: no-repeat url("../McDs_Quiz/img/McDs_Group.png");
  background-size: 80%;
  /* background-size: auto; */
}

.no-mcds {
  /* display: flex; */
  display: block;
  width: 40px;
  padding: 20px;
  background: no-repeat  url("../McDs_Quiz/img/McDs_No_Group.png");
  background-size: 80%;
}

button {
  align-self: center;
  border: #ffcc00 solid 5px;
  border-radius: 15px;
  width: 100px;
  height: 60px;
}

.score {
  border: #ffcc00 dashed 8px;
  width: 80px;
  height: 90px;
}
