body {
  width: 50%;
  margin: auto;
  padding: 48px 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  font-family: "Poppins";
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  width: auto;
  height: 150px;
  background-color: rgb(122, 122, 122);
  text-align: center;
}

.title {
  display: flex;
  align-self: center;
  font-size: 50px;
  color: #ffcc00;
  padding: 10px 20px;
}

.card1 {
  display: flex;
  flex-direction: row-reverse;

  padding: 10px;
  height: 100px;
  border-bottom: 2px dotted black;
}

.card2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  height: 100px;
  border-bottom: 2px dotted black;
}

.question {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  margin-left: 50px;
}

/* .wrapper:last-of-type {
  margin-bottom: 48px;
} */

input[type="radio"] {
  transform: scale(1.5);
}

#radioset1 {
  width: 80px;
}

.mcds {
  width: 80px;
  padding: 10px;
  background: no-repeat left/60% url("../McDs_Quiz/img/McDs_Group.png");

  /* background-size: auto; */
}

.no-mcds {
  width: 80px;
  padding: 10px;
  background: no-repeat left/60% url("../McDs_Quiz/img/McDs_No_Group.png");
  /* background-size: 80%; */
}

button {
  align-self: center;
  border: #ffcc00 solid 5px;
  border-radius: 15px;
  width: 100px;
  height: 60px;
}

.score {
  border: #ffcc00 dashed 8px;
  width: 80px;
  height: 90px;
}
